.menu {
  background-color: #c70518;
}
.body {
  background-color: dimgray;
}
.h1index {
  color: #f5071e;
}
.centrar {
  margin-top: 50px;
  margin-right: 10px;
}

.subir {
  margin-top: -10px;
}

.chico {
  margin-bottom: 100px;
  margin-top: 40px;
}
.tt {
  color: #8905c7;
}
.txtt {
  color: beige;
}
.reservar {
  background-color: #c71d1d;
}

.twtt {
  max-width: 60px;
  max-height: 60px;
}
.ig {
  max-width: 60px;
  max-height: 60px;
}

.animacion {
  border-radius: 6px;
  overflow: hidden;
  background: white;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 2);
  cursor: default;
  transition: all 400ms ease;
}
.animacion:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0, 4);
  transform: translatey(-3%);
}
.secform {
  background-color: rgb(124, 18, 97);
  border-radius: 0%;
  margin-bottom: 5%;
}

@media (min-width: 769px) {
  .chico {
    width: 50%;
    margin-left: 250px;
  }
}
.secform {
  width: 50%;
  border-radius: 6%;
}
