* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: red;
  .a {
    color: indigo;
    &:hover {
      color: black;
    }
  }
}
footer {
  .ig {
    max-width: 15%;
  }
  .twtt {
    max-width: 15%;
  }
}
